[submodule "OMNI3D_Template"]
	path = OMNI3D_Template
	url = git@github.com:omni3dteam/OMNI3D_Template.git
[submodule "OMNI3D_omnode"]
	path = OMNI3D_omnode
	url = git@github.com:omni3dteam/OMNI3D_omnode.git
[submodule "OMNIPRO_Config"]
	path = OMNIPRO_Config
	url = git@github.com:omni3dteam/OMNIPRO_Config.git
[submodule "OMNI3D_Work_Time_Counter"]
	path = OMNI3D_Work_Time_Counter
	url = git@github.com:omni3dteam/OMNI3D_Work_Time_Counter.git
[submodule "OMNI3D_MMS"]
	path = OMNI3D_MMS
	url = git@github.com:omni3dteam/OMNI3D_MMS.git
[submodule "O3D_Bootloader"]
	path = O3D_Bootloader
	url = git@github.com:omni3dteam/O3D_Bootloader.git
[submodule "OMNI3D_RFID_Middleware"]
	path = OMNI3D_RFID_Middleware
	url = git@github.com:omni3dteam/OMNI3D_RFID_Middleware.git
[submodule "OMNI3D_Update"]
	path = OMNI3D_Update
	url = git@github.com:omni3dteam/OMNI3D_Update.git
